[submodule "ntentan"]
	path = ntentan
	url = https://github.com/ekowabaka/ntentan.git
[submodule "install/anyen"]
	path = install/anyen
	url = https://github.com/ekowabaka/anyen.git
[submodule "vendor/PHPMailer"]
	path = vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
