.buildpath
.project
.settings
*.bak
public/all.css
cache
config
nbproject
dev
/playagoro/.cache/
/playagoro/lib/fapi/CVS/
/playagoro/lib/fapi/Forms/CVS/
/playagoro/lib/fapi/Forms/Renderers/CVS/
/playagoro/lib/fapi/css/CVS/
/playagoro/lib/fapi/jscripts/CVS/