body
{
	margin:0px;
	font-family:"Helvetica", sans-serif;
	font-size:small;
	background-color:#cdebf6;
}

#header
{
	background-position:0% 100%;
	background-repeat:repeat-x;
	min-height:60px;
	background-color:#ffffff;
}

#header h1
{
	margin:0px;
	padding:0px;
	font-size:12pt;
}

#header h2
{
	margin:0px;
	padding:0px;
	color:#808080;
}

#header #title
{
	margin:10px;
}

#contents
{
	min-height:100px;
}

#footer
{
	text-align:center;
	min-height:50px;
}

div#top-menu-row
{
    background:#0076a2;
}

div#top-menu > ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}

div#top-menu > ul > li
{
	display:inline-block;
	padding-top:7px;
	padding-bottom:7px;
}

div#top-menu > ul > li > a
{
    padding:7px;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

div#top-menu > ul > li > a:hover
{
    background-color:#0d8fbf;
}

div#top-menu .menu-selected
{
	background-color:#cdebf6;
}

div#top-menu .menu-selected > a
{
    color:#0076a2;
}

div.body-menu > ul
{
    list-style:none;
    margin:0px;
    padding:0px;
    padding-left:5px;
}

div.body-menu > ul > li
{
    display:inline-block;
    padding-top:7px;
    padding-bottom:7px;
}

div.body-menu > ul > li > a
{
    padding:7px;
    color:#606060;
    text-decoration:none;
    font-size:smaller;
}

div.body-menu > ul > li > a:hover
{
    color:#ffffff;
}

div#body
{
	margin:10px;
    border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;	
}

div#body > div#body-contents
{
	background-color:#ffffff;
	/*padding:10px;
	font-size:small;*/
}

div#body > div#body-contents p
{
	padding:0px;
	margin:0px;
	margin-bottom:10px;
}

div#body > div#body-contents > h4
{
	margin:0px;
	padding:10px;
	font-size:larger;
	color:#a0a0a0;
	border-bottom:1px emboss #e0e0e0;
	background-color:#f8f8f8;
}

div#profile-box
{
	margin:10px;
	margin-left:5px;
	padding:5px;
	background-color:#000000;
	color:black;
	vertical-align:top;
	font-weight:bold;
}

div#profile-box > img#profile-pic
{
	float:left;
}

div#profile-box > div#profile-info
{
	float:left;
	margin-left:5px;
	width:50%;
}

div#profile-box > div#profile-info > div#profile-name
{
	font-size:larger;
	color:#f0f0f0;
}

.clearer
{
	clear:both;
}

div#profile-box a
{
	text-decoration:none;
	color:#a0a0a0;
	font-weight:normal;
}

div.sidebox-block
{
	margin:10px;
	margin-left:0px;
}

div.sidebox-block > h4
{
    margin:0px;
    font-size:larger;
    background-color:#e0e0e0;
    padding:5px;
}

table.sidebox-table
{
	/*font-size:larger;*/
	border-collapse:collapse;
}

table.sidebox-table  td
{
	border-bottom:1px solid #f0f0f0;
}
table.sidebox-table  td
{
    padding:10px;
}
table.item-table
{
	width:100%;
	border-collapse:collapse;
}

table.item-table > thead
{
	background-color:#f8f8f8;
	color:#606060;
	font-weight:bold;
	text-shadow: 0px 1px 0px #ffffff;
}

table.item-table > thead > tr > td
{
    padding:10px;
}

table.item-table > tbody > tr > td
{
    border-bottom:1px solid #f0f0f0;
    margin:0px;
    padding:10px;
}

table.item-table > tbody > tr > td.operations
{
    border-bottom:1px solid #f0f0f0;
    margin:0px;
    padding:10px;
    text-align:right;
}

div.item-pages-list > a
{
    text-decoration:none;
    font-weight:bold;
    display:inline-block;
    padding:5px;
    color:#a0a0a0;
}

div#body > h3
{
	margin:0px;
	padding:7px;
	padding-left:10px;
    border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    color:#202020;
    text-shadow: 0px 1px 0px #909090;
}

div.small-scroll-box
{
	height:200px;
	overflow:auto;
	margin:5px;
	border:2px solid #f0f0f0;
	/*border-radius:5px;
	-moz-border-radius:5px;*/
}

/*********** FEED *************/
table#feed
{
border-collapse:collapse;
width:100%;
}

tr.feed-head
{
	font-size:1.1em;
	font-weight:bold;
	border-bottom:2px solid #e8e8e8;
	background-color:#f8f8f8;
	color:#606060;
}

tr.feed-head > td
{
	padding:5px;
}

tr.feed-item
{
	border-bottom:1px solid #f0f0f0;
}

div.feed-time
{
	background-color:#f8f8f8;
	color:#a0a0a0;
	
}

img.feed-avatar
{
	padding:10px;
}

span.feed-clickable
{
	font-weight:bold;
	color:#0d8fbf;'
}

div.feed-tag
{
    margin:10px;
    padding:5px;
    padding-top:15px;
    padding-bottom:15px;
    min-width:60px;
    text-align:center;
    font-weight:bold;
}

div.feed-project-tag
{
	background-color:#8fffb7;
	color:#74bc7b;
}

form
{
	padding:10px;
}

div#admin-confirm-body
{
	padding:10px;
}

div.role-permission-block
{
	border:2px solid #f0f0f0;
	margin:15px;
	margin-right:0px;
	width:45%;
	display:inline-block
}

div.role-permission-block > span.title
{
    font-size:larger;
    font-weight:bold;
    color:#a0a0a0;
}
