label{
    display:block;
    color:#a0a0a0;
    margin-top:10px;
    
}

input[type='text'], input[type='password']{
    border:1px solid #d0d0d0;
    padding:1%;
    width:98%;
    border-radius: 3px;
    font-size:large;
    box-shadow: inset 1px 1px 3px rgba(64,64,64,0.1);
}

.form-submit-area{
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #f0f0f0;
}

.form-submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.form-submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
.form-submit:active {

}

textarea{
    border:1px solid #d0d0d0;
    padding:1%;
    width:98%;
    border-radius: 3px;
    font-size:large;
    box-shadow: inset 1px 1px 3px rgba(64,64,64,0.1);    
}

