/**
Colour schemes
**/

@CHARSET "UTF-8";

body{
    font-family: sans-serif;
    background-color: #fcfcfc;
}

#wrapper{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    min-width:720px;
    max-width:1400px;
}

#body{
    min-height: 450px;
}

#foot{
    padding:20px;
    color:#a0a0a0;
    font-size:x-small;
    border-top:1px dotted #f0f0f0;
}

a{
    text-decoration: none;
    color:#62b0db;
}

#body p{
    padding:15px;
    padding-top:0px;
}

.p15{
    padding:15px;
}

.p15-right{
    padding-right:15px;
}

.p1-right{
    padding-right:2px;
}

a.tinylink > img{
    vertical-align:-2px;    
}

#head{
    background-color:#0a77b8;
    color:#fff;
}

h2, h3, h4{
    margin:0px;
    padding:15px;
}

h5{
    margin:0px;
    padding:0px;
    margin-top:20px;
    margin-bottom: 3px;
    font-size: 1em;
}

#tool-header, h4{
    background-color:#f1f7fc;
    border-bottom:2px solid #c2e0f2;
    border-top:1px solid #c2e0f2;
    color:#62b0db;
}

form{
    padding:15px;
}

form .title{
    font-size: large;
    font-weight: bold;
}

form textarea#description{
    height:200px;
}

#head > #title_side > h1 > a, #head > #title_side > h2 > a{
    text-decoration: none;
    color:#fff;
}

#head > #title_side > h1{
    margin:0px;
    font-size:larger;
    padding:15px;
    display:inline-block;
    border-right:1px solid #0262a7;
    margin-right:15px;
}

#head > #title_side > h2{
    display:inline-block;
    margin:0px;
    font-size:large;
    padding:15px;
    padding-left:0px;
    border-right:1px solid #0262a7;
    margin-right:15px;
    font-weight:normal;
}

#head > #title_side > #header_menu{
    display:inline-block;
}

#head > #status_side{
    text-align: right;
}

#head > #status_side > img{
    float: right;
    padding:0px;
    background-color:#0262a7;
}

#sub_head{
    background-color: #fafafa;
}

#sub_head h3 > a{
    color:#606060;
    text-shadow: 0px 1px #fff;
}

ul#top-menu{
    padding:0px;
    float:right;
}

ul#top-menu > li > a{
    color:#eef5fe;
    display:inline-block;
    font-size:small;
    padding:19px;
    padding-left:30px;
    background-repeat: no-repeat;
    background-position: 12px 50%;
    border-left:1px solid #0262a7;
}

#top-menu > li.menu-selected{
    background-image:url(../images/grey_tag.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

#top-menu > li.menu-selected > a{
    font-weight: normal;
    color:#fff;
    font-weight: bold;
}

ul#top-menu > li#menu-item-logout > a{background-image:url(../images/logout.png)}
ul#top-menu > li#menu-item-admin > a{background-image:url(../images/settings_small.png)}
ul#top-menu > li#menu-item-account > a{background-image:url(../images/account_small.png)}

#login-box{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

#login-box .error-message
{
    margin-left:15px;
    margin-right:15px;
    padding:10px;
    background-color:#fedee4;
    color:#c13b3b;
}

ul.menu{
   list-style: none;
   margin:0px;
   padding:0px;
}

ul.menu > li{
    display:inline-block;
    vertical-align: middle;
}

ul.menu > li > a{
    text-decoration: none;
    color:#909090;
}

ul.menu > li.menu-selected > a{
    color:#808080;
    font-weight:bold;
}

#main-menu a{
    color:#e2f2fe;
    font-size:0.9em;
}


#sub-menu > li > a{
    display:inline-block;
    padding:17px;
    padding-left:53px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    color:#404040;
}

#sub-menu > li.menu-selected{
    background-image:url(../images/blue_tag.png);
    background-repeat: no-repeat;
    background-position: 50% 105%;
}

#sub-menu > li.menu-selected > a{
    font-weight: normal;
    color:#000;
}

#menu-item-projects-create > a, #menu-item-admin-projects-create > a { background-image: url(../images/add_project.png) }
#menu-item-issues-create > a { background-image: url(../images/add_issue.png) }
#menu-item-users-add > a { background-image: url(../images/add_user.png) }
#menu-item-projects-members-add > a { background-image: url(../images/assign_member.png) }
#menu-item-projects-components-add > a { background-image: url(../images/add_component.png) }
#menu-item-projects-milestones-add > a { background-image: url(../images/add_milestone.png) }

ul#side-menu > li > a{
    display:block;
    padding:15px;    
    padding-left:48px;
    background-repeat:no-repeat;
    background-position: 12px 50%;
}

ul#side-menu > li.menu-selected > a{
    font-weight: normal;
}

ul#side-menu > li.menu-fully-matched > a{
    font-weight: bold;
}

ul#side-menu > li{
    display:block;
    border-bottom: 1px solid #f0f0f0;
}

#menu-item-admin-users > a { background-image:url(../images/users.png) }
#menu-item-admin-users-block > a { background-image:url(../images/block.png) }
#menu-item-admin-projects > a { background-image:url(../images/projects.png) }
#menu-item-admin-projects-members > a { background-image:url(../images/memberships.png) }
#menu-item-admin-projects-delete > a { background-image:url(../images/delete_project.png) }
#menu-item-admin-projects-milestones > a { background-image:url(../images/milestones.png) }
#menu-item-admin-projects-components > a { background-image:url(../images/components.png) }

#menu-item-issues-edit > a, #menu-item-admin-projects-edit > a { background-image:url(../images/edit_big.png) }

#sub-menu > li:hover{
    
    background-color:#f0f0f0;
}

table.project-info-list{
    width:100%;
    border-collapse: collapse;
}

.project-info-wrapper{
    border-bottom:1px solid #f0f0f0;
}

.project-info-wrapper > td{
    padding:10px;
    padding-top:35px;
}


.project-info-wrapper .project-name{
    font-size:large;
    font-weight:bold;
    color:#0a77b8;
    text-decoration:none;
    display:block;
}

.project-info-wrapper .project-desc{
    font-size:small;
    color:#808080;
}

.issues_list{
    border-collapse: collapse;
    width:100%;
}

.issue_summary{
    border-bottom:1px solid #f0f0f0;
}

.issue_summary .issue_id{
    font-weight:bold;
    font-size: large;
    color:#88c0fe;
    padding:10px;
    text-align: center;
    vertical-align: middle;
}

.issue_summary .issue_title > a{
    font-weight: bold;
    text-decoration: none;
}

.issue_slug{
    display:block;
    font-size:small;
    color:#a0a0a0;
}

.issue_summary .issue_details{
    padding:20px;
}

.issue_view_content h5{
    margin:0px;
    padding:15px;
}

.issue_view #title_block h4{
    display:inline-block;
    background-color: transparent;
    border:none;
}

.issue_view #title_block h4:first-child{
    padding-right:0px;
    background-color: transparent;
    border:none;
}

.REOPENED_title, .OPEN_title{ background-color: #d4ffda; border-top: 1px solid #85ff97; border-bottom:2px solid #85ff97}
.REOPENED_title h4, .OPEN_title h4{ color:#02b01f }
.REOPENED_title h4:first-child, .OPEN_title h4:first-child{ color:#006a11 }

.RESOLVED_title{ background-color: #f7f7ff; border-top: 1px solid #c3c5d9; border-bottom: 2px solid #c3c5d9}
.RESOLVED_title h4{ color:#6d73a5 }
.RESOLVED_title h4:first-child{ color:#373d6f }

.CLOSED_title{ background-color: #fff6f5; border-top: 1px solid #f4b9b6; border-bottom: 2px solid #f4b9b6}
.CLOSED_title h4{ color:#dd4740 }
.CLOSED_title h4:first-child{ color:#ab0801 }

.people-info{
    min-height: 56px;
    margin-bottom:15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
    padding-right:10px;
}

.people-info img{
    float:left;
    margin-right:10px;
    border-radius:5px;
}

.people-info .top-part{
    font-weight:bold;
    color:#0a77b8;
    display: block;
}

.small-date{
    font-size:smaller;
    color:#808080;
}

dl{
    padding:15px;
    background-color:#fcfcfc;
    margin:0px;
}

dt{
    font-weight: bold;
    display:inline-block;
    width:30%;
    margin:0px;
    padding-bottom:10px;
    color:#808080;
}

dd{
    display:inline-block;
    width:60%;
    margin:0px;
    padding-bottom:10px;
    padding-left:20px;
    background-repeat: no-repeat;
}

dd.component{background-image: url('../images/component_small.png')}
dd.milestone{background-image: url('../images/milestone_small.png')}

dd.priority_TRIVIAL{background-image: url('../images/priority_TRIVIAL.png')}
dd.priority_LOW{background-image: url('../images/priority_LOW.png')}
dd.priority_MEDIUM{background-image: url('../images/priority_MEDIUM.png')}
dd.priority_HIGH{background-image: url('../images/priority_HIGH.png')}
dd.priority_CRITICAL{background-image: url('../images/priority_CRITICAL.png')}
dd.priority_BLOCKER{background-image: url('../images/priority_BLOCKER.png')}

dd.kind_BUG{background-image: url('../images/kind_BUG.png')}
dd.kind_PROPOSAL{background-image: url('../images/kind_PROPOSAL.png')}
dd.kind_QUESTION{background-image: url('../images/kind_QUESTION.png')}
dd.kind_TASK{background-image: url('../images/kind_TASK.png')}
dd.kind_ENHANCEMENT{background-image: url('../images/kind_ENHANCEMENT.png')}

.striped
{
    background-color:#fcfcfc;
}

#issue-menu{
    text-align: right;
}

#issue-menu > li > a{
    display: inline-block;
    padding:6px;
    margin:10px;
    color:#404040;
    padding-left:30px;
    font-size:0.9em;
    background-position: 3px 50%;
    background-repeat: no-repeat;
}

#menu-item-edit-issue > a{
    background-image:url(../images/edit_issue.png);
}

.issue_view .update
{
    padding:20px;
    margin-right:10px;
    padding-bottom: 40px;
    border-bottom: 3px solid #fcfcfc;
}

span.name
{
    font-weight:bold;
    color:#0a77b8;    
}

.issue_view .update p
{
    margin:0px;
    padding:0px;
    margin-top:25px;
    margin-left:69px;
}

.issue_view .update ul
{
    margin:0px;
    padding:15px;
    padding-left:30px;
    margin-left:69px;
    list-style: '-';
    font-size:0.9em;
    margin-top:25px;
    background-color: #fbfbfb;
}

.issue_view .update ul li{
    padding:3px;
}

.issue_view .striped ul
{
    background-color: #f6f6f6;
}

.issue_view .update img
{
    float:left;
    margin-right:15px;
}

.issue_view .update .issue_number{
    float:right;
    font-size:large;
    color:#a0a0a0;
}

.form-submit, .button {
    padding:10px;
    border:1px solid #6095cb;
    margin-right:10px;
    background-color: #79bbff;
    color:#fff;
    text-shadow:0px -1px #6298cf;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9bccff), color-stop(1, #6aa4df) );
    background:-moz-linear-gradient( center top, #9bccff 5%, #6aa4df 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bccff', endColorstr='#6aa4df');
}

.form-submit:hover , .button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a4d0ff), color-stop(1, #8db5df) );
	background:-moz-linear-gradient( center top, #a4d0ff 5%, #8db5df 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4d0ff', endColorstr='#8db5df');
}

.form-submit:active, .button:active {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9bccff), color-stop(1, #6aa4df) );
	background:-moz-linear-gradient( center top, #9bccff 5%, #6aa4df 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bccff', endColorstr='#6aa4df');
}

input[type='submit']#resolve{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9099db), color-stop(1, #606591) );
	background:-moz-linear-gradient( center top, #9099db 5%, #606591 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bccff', endColorstr='#6aa4df');  
    text-shadow:0px -1px #4b4f71;
    border-color:#6d73a5;
}

input[type='submit']#close{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff6464), color-stop(1, #c13b3b) );
	background:-moz-linear-gradient( center top, #ff6464 5%, #c13b3b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6464', endColorstr='#c13b3b');  
    text-shadow:0px -1px #ac3535;
    border-color:#ac3535;
}

input[type='submit']#reopen{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99ea57), color-stop(1, #61ba55) );
	background:-moz-linear-gradient( center top, #99ea57 5%, #61ba55 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ea57', endColorstr='#61ba55');  
    text-shadow:0px -1px #54a24a;
    border-color:#54a24a;
}

#profile_head {
    padding:15px;
    border-bottom: 1px solid #f0f0f0;
    min-height: 96px;
    background-color:#fcfcfc;
}

#profile_head img{
    float:left;
    margin-right:15px;
}

.item-table{
    font-size:0.9em;
}

table.item-table > tbody >tr > td,
table.item-table > thead >tr > td
{
    padding:10px;
}

td.operations{
    text-align: right;
}

a.tinylink, td.operations > a{
    font-size:small;
    text-decoration: none;
    color:#62b0db;
    display: inline-block;
    margin-left:15px;
    padding-left:18px;
    background-repeat: no-repeat;
}

a.edit-operation{ background-image: url(../images/edit_small.png) }
a.delete-operation{ background-image: url(../images/delete_small.png) }
a.members-operation{ background-image: url(../images/members_small.png) }
a.block-operation{ background-image: url(../images/block_small.png) }

.label{
    display:inline-block;
    font-weight:bold;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 3px;
    margin-left:10px;
    color:#fff;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.issue-status{
    text-align: center;
    padding:8px;
    color:#fff;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 3px;
    background-color: #aaa;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);    
}

.open, .reopened {background-color:#02b01f}
.closed {background-color:#dd4740}
.resolved {background-color:#6d73a5}
.mine {background-color:darkorange}

.open-link, .reopened-link{color:#02b01f}
.closed-link{color:#dd4740}
.resolved-link{color:#6d73a5}
.mine-link{color:darkorange}

.issue-counter{
    display:inline-block;
    margin:3px;
    font-size: 0.9em;
}

.issues-tag{
    font-size: 0.9em;
    display:inline-block;
    color: #404040;
    margin-right:15px;
}

.issues-tag img{
    vertical-align: -2px;
}

.comments{
    margin-top:10px;
    text-align: right;
    font-size:small;
    color:#a0a0a0;
}

/*#tool-header{
    background-color:#fcfcfc;
    border-bottom:1px solid #f0f0f0;    
}*/

#tool-header h4{
    background-color:transparent;
    border:none;
}

#tool-header select{
    font-size:small;
    margin: 8px;
    display:inline;
}

#tool-header img{
    vertical-align: -45%;
}
