@CHARSET "UTF-8";


body{
    font-family: sans-serif;
    background-color: #fcfcfc;
}

#wrapper{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    min-height:500px;
}

#head{
    background-color:#0a77b8;
    color:#fff;
}

h2, h3{
    margin:0px;
    padding:10px;
}

form{
    margin:10px;
}

#head > #title_side > h1{
    margin:0px;
    margin-right:20px;
    font-size:large;
    padding:15px;
    display:inline-block;
    border-right:2px solid #0262a7;
}

#head > #title_side > #header_menu{
    display:inline-block;
}

#head > #status_side{
    text-align: right;
}

#sub_head{
    border-bottom:2px solid #f0f0f0;  
    background-color: #f8f8f8;
}

#sub_head > h2{
    display:inline-block;
    color:#808080;
}

#sub_head > #sub-menu{
    display:inline-block
}

#login-box{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

ul.menu{
   list-style: none;
   margin:0px;
   padding:0px;
}

ul.menu > li{
    display:inline-block;
    vertical-align: middle;
}

ul.menu > li > a{
    text-decoration: none;
}

ul.menu > li.menu-selected a{
    font-weight:bold;
}

#main-menu a{
    color:#e2f2fe;
    font-size:0.9em;
}

.project-info-wrapper{
    border-bottom:1px dashed #e0e0e0;
    padding:10px;
    padding-top:35px;
}

.project-info-wrapper .project-name{
    font-size:large;
    font-weight:bold;
    color:#0a77b8;
    text-decoration:none;
    display:block;
}

.project-info-wrapper .project-desc{
    font-size:small;
    color:#808080;
}