@CHARSET "UTF-8";

body{
    font-family: sans-serif;
    background-color: #fcfcfc;
}

#wrapper{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    min-height:500px;
    min-width:720px;
    max-width:1400px;
}

#head{
    background-color:#0a77b8;
    color:#fff;
}

h2, h3, h4{
    margin:0px;
    padding:15px;
}

h5{
    margin:0px;
    padding:0px;
    margin-top:20px;
    margin-bottom: 3px;
    font-size: larger;
}

form{
    margin:15px;
}

form textarea#description{
    height:200px;
}

#head > #title_side > h1 > a, #head > #title_side > h2 > a{
    text-decoration: none;
    color:#fff;
}

#head > #title_side > h1{
    margin:0px;
    font-size:larger;
    padding:15px;
    display:inline-block;
    border-right:1px solid #0262a7;
    margin-right:15px;
}

#head > #title_side > h2{
    display:inline-block;
    margin:0px;
    font-size:large;
    padding:15px;
    padding-left:0px;
    border-right:1px solid #0262a7;
    margin-right:15px;
    font-weight:normal;
}

#head > #title_side > #header_menu{
    display:inline-block;
}

#head > #status_side{
    text-align: right;
}

#sub_head{
    border-bottom:2px solid #f0f0f0;  
    background-color: #f8f8f8;
}

#sub_head > h3{
    display:inline-block;
    color:#808080;
}

#sub_head > #sub-menu{
    display:inline-block
}

ul#top-menu{
    padding:15px;
}

ul#top-menu > li > a{
    color:#eef5fe;
    font-size:small;
    padding-left:30px;
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

ul#top-menu > li#logout-menu-item > a{background-image:url(../images/logout.png)}

#login-box{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

ul.menu{
   list-style: none;
   margin:0px;
   padding:0px;
}

ul.menu > li{
    display:inline-block;
    vertical-align: middle;
}

ul.menu > li > a{
    text-decoration: none;
}

ul.menu > li.menu-selected a{
    font-weight:bold;
}

#main-menu a{
    color:#e2f2fe;
    font-size:0.9em;
}

.project-info-wrapper{
    border-bottom:1px dashed #e0e0e0;
    padding:10px;
    padding-top:35px;
}

.project-info-wrapper .project-name{
    font-size:large;
    font-weight:bold;
    color:#0a77b8;
    text-decoration:none;
    display:block;
}

.project-info-wrapper .project-desc{
    font-size:small;
    color:#808080;
}

.issues_list{
    border-collapse: collapse;
    width:100%;
}

.issue_summary{
    border-bottom:1px solid #f0f0f0;
}

.issue_summary .issue_id{
    font-weight:bold;
    font-size: x-large;
    color:#88c0fe;
    padding:10px;
    text-align: center;
    vertical-align: middle;
}

.issue_summary .issue_title{
    font-size:large;
    color:#02b01f;
}

.issue_slug{
    display:block;
    font-size:small;
    color:#a0a0a0;
}

.issue_summary .issue_details{
    padding:10px;
}

.issue_view_content h5{
    margin:0px;
    padding:15px;
}

.issue_view p#description{
    padding:15px;
    padding-top:0px;
}

.issue_view #title_block{
    color: #02b01f;
    background-color:#defee3;
}

.issue_view #title_block h4{
    display:inline-block;
}

.issue_view #title_block h4:first-child{
    padding-right:0px;
    font-size:larger;
    color:#016310;
}

.people-info{
    min-height: 56px;
    margin-bottom:15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
    padding-right:10px;
}

.people-info img{
    float:left;
    margin-right:10px;
    border-radius:5px;
}

.people-info .top-part{
    font-weight:bold;
    color:#0a77b8;
    display: block;
}

.small-date{
    font-size:smaller;
    color:#808080;
}

dl{
    padding:15px;
    background-color:#f7fbfe;
    margin:0px;
}

dt{
    font-weight: bold;
    display:inline-block;
    width:25%;
    margin:0px;
    padding-bottom:10px;
}

dd{
    display:inline-block;
    width:60%;
    margin:0px;
    padding-bottom:10px;
}

.striped
{
    background-color:#fcfcfc;
}

.issue_view .update
{
    padding:20px;
    margin-right:10px;
    padding-bottom: 40px;
    border-bottom: 3px solid #fcfcfc;
}

.issue_view .update span.name
{
    font-weight:bold;
    color:#0a77b8;    
}

.issue_view .update p
{
    margin:0px;
    padding:0px;
    margin-top:25px;
    margin-left:69px;
}

.issue_view .update ul
{
    margin:0px;
    padding:15px;
    margin-left:69px;
    list-style: none;
    font-size:0.9em;
    margin-top:25px;
    background-color: #fbfbfb;
}

.issue_view .striped ul
{
    background-color: #f6f6f6;
}

.issue_view .update img
{
    float:left;
    margin-right:15px;
}

